@font-face {
    font-family: 'TestFoundersGrotesk';
    src: url('../public/font/Test-Founders-Grotesk-400.otf');
    /*src: url('../public/font/Test-Founders-Grotesk-Light-300.otf');*/
    /*src: url('../public/font/Test-Founders-Grotesk-Medium-500.otf');*/
    /*src: url('../public/font/Test-Founders-Grotesk-SmB-600.otf');*/
    /*src: url('../public/font/TestFoundersGroteskBold700.otf');*/
}
@font-face {
    font-family: 'Test-Founders-Grotesk-Medium-500';
    src: url('../public/font/Test-Founders-Grotesk-Medium-500.otf');
}
@font-face {
    font-family: 'Test-Founders-Grotesk-SmB-600';
    src: url('../public/font/Test-Founders-Grotesk-SmB-600.otf');
}
.logInWrapperSet{
    margin: 30px 30%;
}
.logInTitle{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 40px;
    font-family: 'Test-Founders-Grotesk-Medium-500';
    color: #1E1E1E;
}
.forgetBox{
    display: flex;
    justify-content: flex-end;
    margin-top: -12px;

}
.forgetBox a{
    color: #5B6060;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.42px;
    font-family: 'TestFoundersGrotesk';
}
.logInWrapperSet input:focus{
    border: 1px solid #00887A;
    box-shadow: 0px 0px 5px 0px rgba(0, 136, 122, 0.25);
}
.signInButtonBox{
    margin-top: 36px;
}